<script type='text/template'>
<div class="form">
<h1>Agregar Producto</h1>

<div id="agregarProducto">
	Codigo de Barra:
  <input type="text" name="id" placeholder="Ponga numero de codigo de Barra" id="agregarCOD"> 
  Nombre de Producto:
 <input type="text" name="name" id='agregarDetails'> 

 Tamaño:
 <input type="text" name="tamano"> 

 Tipo: (perfume, sabana, sobrecama, cortina, toalla,  o otro)
 <select name="type"> 
 <option value='perfume'>Perfume</option>
 <option value='sabana'>Sabana</option>
 <option value='sobrecama'>Sobrecama</option>
 <option value='toalla'>Toalla</option>
 <option value='cortina'>Cortina</option>
 <option value='otro'>Otro</option>

 </select>


  <input type="submit" value="guardar"  id="agregar-submit">
</div>




<!-- <div><a href="#/modificar" class='bot'>Modifique Producto Existente</a></div> -->


</div>
</script>