<script type='text/template'>

<div class="form">
<h1>Verificar Cantidad de Piezas</h1>

Escriba el codigo de barra del producto:<BR>
<input type="text" value="" name="" id="productoReferencia" />

<div class='p-10'>Nombre: <span id="productoName"></span></div>
<div class='p-10'>Tamaño: <span id="productoSize"></span></div>
<div class='p-10'>Tipo: <span id="productoType"></span></div>



<input id='cantidad-submit' type="submit" value="Buscar Cantidad" /><BR/><BR/>

Bodega:
<span id='cantidad-bodega'>___</span> Piezas<BR/>
Sala de Venta:
<span id='cantidad-afuera'>___</span> Piezas<BR/>
Los Pueblos:
<span id='cantidad-pueblos'>___</span> Piezas



</div>





</script>
