<script type='text/template'>

<div class="form">
<h1>Verificar Cantidad de Piezas</h1>

Escriba el codigo de barra del producto:<BR>
<input type="text" value="" name="" id="productoReferencia" />

<div class='p-10'>Nombre: <span id="productoName"></span></div>
<div class='p-10'>Tamaño: <span id="productoSize"></span></div>


<input id='cantidad-submit' type="submit" value="Buscar Cantidad" /><BR/><BR/>

Bodega:
<div id='cantidad-bodega'></div><BR/>
Sala de Venta:
<div id='cantidad-afuera'></div><BR/>
Los Pueblos:
<div id='cantidad-pueblos'></div>



</div>





</script>
