<script type="text/template">
<div class="header">
	<div class="header-bottons">
		<a class="killview bot menuItem" href="#/ventasPueblos">Caja Los Pueblos</a>		
		<a class="killview bot menuItem" href="#/referencias">Producto</a>
		<a class="killview bot menuItem" href="#/agregar">Registrar Producto</a>
		<a class="killview bot menuItem" href="#/modificar">Modificar Producto</a>
		<a class="killview bot menuItem" href="#/clienteCredito">Cliente Credito</a>
		<a class="killview bot menuItem" href="#/entradaPueblos">Entrada Los Pueblos</a>
		<a class="killview bot menuItem" href="#/cantidadProducto">Inventario</a>		
	</div>
</div>

</script>
