<script type="text/template">




	<div class="header-bottons">
		<span class="bot"><a class="killview" href="#/ventas">CAJA</a></span>
		<span class="bot"><a class="killview" href="#/mercanciaBodega">INGRESAR BODEGA</a></span>		
		<span class="bot"><a class="killview" href="#/mercanciaAfuera">INGRESAR SALA DE VENTA</a></span>
		<span class="bot"><a class="killview" href="#/referencias">REFERENCIAS</a></span>
		<span class="bot"><a class="killview" href="#/gastos">GASTOS</a></span>
		<span class="bot"><a class="killview" href="#/agregar">REGISTRAR PRODUCTO</a></span>
		<span class="bot"><a class="killview" href="#/modificar">MODIFICAR PRODUCTO</a></span>
	</div>





</script>
