<script type="text/template">
<ol>
<li><a class="killview" href="#/ventas">Ventas</a></li>
<li><a class="killview" href="#/compras">Compras</a></li>

<li><a class="killview" href="#/mercanciaAfuera">Ingresar mercancia a Sala de Venta</a></li>
<li><a class="killview" href="#/mercanciaBodega">Ingresar mercancia en BODEGA</a></li>
<li><a class="killview" href="#/referencias">Referencias</a></li>
<li><a class="killview" href="#/depositos">Depositos</a></li>
<li><a class="killview" href="#/abonos">Abonos</div></li>
<li><a class="killview" href="#/gastos">Gastos</div></li>
<li><a class="killview" href="#/agregar">Agregar Producto Nuevo</div></li>
<li><a class="killview" href="#/modificar">Modificar Producto Existente</div></li>
</ol>

</script>
