<script type='text/template'>
<div class="form">
<h1>Ingresar Mercancia a la Bodega</h1>
<div>
CODIGO DE BARRA:<BR/>
<input type="text" name="id" id="coid-bodega" /><BR/>


Nombre del Producto: <BR/>
<div class='p-10'>Nombre: <span id="productoName"></span></div>
<div class='p-10'>Tamaño: <span id="productoSize"></span></div>  


Cantidad para ingresar a la BODEGA: <BR/>
<input type="text" name="cantidad" /><BR/>

Precio: <BR/>
  <input type="text" name="precio" /><BR/>

Lugar de Compra: <BR/>
  <input type="text" name="lugar" /><BR/>




  <input class="button" type="submit" value="Ingresar" /><BR/>
</div>

<div id="bodegaResponse"></div>

</div>

</script>
