<script type='text/template'>
<div class="form">
<h1>Transferir mercancia de la Bodega hacia la sala de venta</h1>
<div>

	CODIGO DE BARRA:<BR/>
	<input type="text" name="id" id="coid-afuera" /><BR/>
	Nombre del Producto: <BR/>
	<div id="afueraProducto"></div>
	<div class='p-10'>Nombre: <span id="productoName"></span></div>
	<div class='p-10'>Tamaño: <span id="productoSize"></span></div>


	Cantidad para ingresar a la sala de venta: <BR/>
	<input type="text" name="cantidad" /><BR/>

	<input type="submit" value="Ingresar" /><BR/>
</div>

<div id="afueraResponse">


</div>


</div>

</script>
