<script type='text/template'>
<form>
<div class="form" >
<h1>Modificar Producto Existente</h1>
Codigo de Barra:
<input type="text" name="id" id="modificarId" placeholder="#Codigo de Barra" /> <BR/>

<div id="informacionProducto">
Nombre:
<input type="text" name="name" placeholder="" /> 
Tamaño:
 <input type="text" name="tamano"> 

  Tipo: (perfume, sabana, sobrecama, cortina, toalla,  o otro)
 <select name="type"> 
 <option value='perfume'>Perfume</option>
 <option value='sabana'>Sabana</option>
 <option value='sobrecama'>Sobrecama</option>
 <option value='toalla'>Toalla</option>
 <option value='cortina'>Cortina</option>
 <option value='otro'>Otro</option>
 <option value='prueba'>Prueba</option>


 </select>

<input type="submit" value="guardar">
</div>


</div>
</form>
</script>
