<script type='text/template'>
<h3>Venta Anterior</h3>
 <span>Codigo de Barra:</span><span><%=model.coid%></span><BR/> 
 <span>Nombre:</span><span><%=model.nombre%></span><BR/>
 <span>Precio:</span><span><%=model.precioVenta%></span><BR/>
 <span>Cantidad:</span><span><%=model.cantidad%></span><BR/>
 <span>Tipo Venta:</span><span><%=model.tipoVenta%></span><BR/>
 <span>Nombre Cliente:</span><span><%=model.nombreCliente%></span><BR/>
 <span>Numero Cliente:</span><span><%=model.numeroCliente%></span><BR/>
 <span>Total:</span><span><%=model.total%></span><BR/>
 <span>Forma de Pago:</span><span><%=model.formaPago%></span><BR/>
 <span>Nombre del almacen:</span><span><%=model.otroAlmacen%></span><BR/>


</script>