<script type='text/template'>
<div class="form">
<h1>CAJA DIA <%= day+"/"+month+"/"+year %></h1>

<div>
Codigo del Producto<BR/>
<input type="text" id="ventasCod" /><BR/>

Nombre del Producto:<div id="ventasNombre"></div><BR/>
</div>


Precio de Venta:<BR/>
<input type="text" id="ventasPrecio" /><BR/>

Cantidad:<BR/>
<input type="text" id="ventasCantidad" value="1" /><BR/>
<BR/>
Tipo de venta:<Br/>
Tipo A: <input type = "radio" name ="ventaCategory" value = "A" checked = "checked" />
Tipo B: <input type = "radio" name ="ventaCategory" value = "B"  />
<Br/><Br/>

<div id="#formaPago">
	Forma de Pago:<BR/>
	 <input type = "radio" name ="ventaPago" value="Tarjeta"/> Tarjeta (Visa, Master Card, Clave)<BR/>
	<input type = "radio" name ="ventaPago" value="Efectivo" checked="checked"/> Efectivo<BR/> 
	<input type = "radio" name ="ventaPago" value = "Credito"  /> CREDITO<BR/>
	<input type = "radio" name ="ventaPago" value = "OtroAlmacen"  /> Otro Almacen (Saleem bhai, Haneef, etc..)

</div><Br/>

<div id="nombreAlmacen" style="display:none">
Nombre del Almacen:<Br/>
	<input type="text" name="nombreAlmacen" placeholder="nombre del almacen al que se le dio perfume o sabana" />
</div>
<BR/><BR/>

<div id="credito" style="display:none">

	NOMBRE del Cliente:<BR/>
	<input type="text" id="ventasCliente" placeholder="nombre del cliente" /><BR/>
	<BR/>
	Telefono del Cliente:<BR/>
	<input type="text" id="numeroCliente" placeholder="numero del cliente" /><BR/>
	<BR/>
</div>


Total:<BR/>
<input type="text" id="ventasTotal" /><BR/>


<input type="submit" value="Marcar Venta">

</div>

<BR/><Br/>Ultima venta: <Br/>
<div id="ultimaVenta"></div>




</script>
