<script type='text/template'>
<form>
<div class="form caja">
<h1>CAJA DIA <%= day+"/"+month+"/"+year %></h1>

<table border="0" class="ventas-tabla">
<tr><td style="width:30px"><label>Codigo de Barra</label></td><td style="width:500px;"><input type="text" id="ventasCod" /></td></tr>

<tr><td><label>Precio de Venta</label></td><td><input type="text" id="ventasPrecio" /></td></tr>

<tr><td><label>Cantidad</label></td><td><input type="text" id="ventasCantidad" value="1" /></td></tr>

<tr><td><label>Tipo de venta</label></td><td> <input type = "radio" name ="ventaCategory" value = "A" checked = "checked" />Tipo A <BR/>
<input type = "radio" name ="ventaCategory" value = "B"  />Tipo B </td></tr>

<tr><td><label>Forma de Pago</label></td><td id="#formaPago"> 
    <input type = "radio" name ="ventaPago" value="TarjetaCredito"/> Tarjeta de Credito (Master Card, VISA)<BR/>
    <input type = "radio" name ="ventaPago" value="TarjetaClave"/> Tarjeta Clave (Debito)<BR/>
	<input type = "radio" name ="ventaPago" value="Efectivo" checked="checked"/> Efectivo<BR/>
	<input type = "radio" name ="ventaPago" value = "Credito"  /> Credito (Paisano)<BR/>
	<input type = "radio" name ="ventaPago" value = "OtroAlmacen"  /> Otro Almacen
</td></tr>

<tr id="nombreAlmacen" style="display:none">
    <td><label>Nombre del Almacen</label></td>
    <td><input type="text" name="nombreAlmacen" placeholder="nombre del almacen al que se le dio perfume o sabana" /></td>
</tr>

<tr class="credito" style="display:none"><td><label>Cedula Cliente</label></td><td><input name="cedulaCliente" id="cedulaCliente"/></td></tr>
<tr class="credito" style="display:none"><td><label>NOMBRE del Cliente</label></td><td><div id="ventasCliente"></div></td></tr>
<tr class="credito" style="display:none"><td><label>Telefono del Cliente</label></td><td><div id="numeroCliente"></div></td></tr>

<tr><td>Producto: </td><td><span id="ventasNombre"></span></td></tr>

<tr><td><label>Total</label></td><td><input type="text" id="ventasTotal" /></td></tr>

<tr><td><input type="submit" value="Marcar Venta"></td></tr>
</table>

<!--

<div id="ultimaVenta" class="ultima-venta"></div>
</form>
-->
</script>
